// @import "../node_modules/bootstrap/scss/grid";
@import "~bootstrap/scss/bootstrap";

* {
  color: red !important;
}

.D {
  width: 866.3515625px;
  height: 692px;
  top: 429.857421875px;
  left: 256.541015625px;
}
