@import "~bootstrap/scss/bootstrap";
@font-face {
  font-family: "Albert Sans";
  src: url("./../assets/fonts/AlbertSans-Regular.eot");
  src: url("./../assets/fonts/AlbertSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./../assets/fonts/AlbertSans-Regular.woff2") format("woff2"),
    url("./../assets/fonts/AlbertSans-Regular.woff") format("woff"),
    url("./../assets/fonts/AlbertSans-Regular.ttf") format("truetype"),
    url("./../assets/fonts/AlbertSans-Regular.svg#./../assets/font/AlbertSans-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$bg-beige: #fdf9ef;
$bg-beige-v2: #f6e7c3;
$bg-avocado: #d0e0af;
$tx-brown: #301b0a;

body {
  margin: 0;
}
// @import "../../node_modules/bootstrap/scss/grid";

@mixin input-animation() {
  width: 45px;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  transition: 0.3s linear;
  border-bottom: 0;
  background-color: transparent;
  z-index: 10000;

  &:focus {
    width: 120px;
    outline: none;
    border-bottom: 1px solid $tx-brown;
  }
  &::after {
    content: "Henry";
    display: block;
    width: 0;
    height: 2px;
    background: $tx-brown;
    transition: width 0.3s;
  }

  &:hover::after {
    width: 100%;
    //transition: width .3s;
  }
}

@mixin label-base() {
  color: var(--primary-black, $tx-brown);
  font-weight: 500;
}

* {
  color: $tx-brown;
  @include label-base();
  box-sizing: border-box;
}

@mixin base-font() {
  font-family: Albert Sans;
  font-size: 16px;
  font-style: normal;
  line-height: 160%;
}

@mixin align-right() {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.wrapper {
  background-color: $bg-beige;
}

header {
  padding: 48px 0;
  .wrapper-search-menu-logging {
    > button,
    > form {
      margin-left: 10px;
    }
    input {
      @include input-animation();
      border: 0;
      .cool-link {
        display: inline-block;
        color: #000;
        text-decoration: none;
      }
    }
    button {
      border-radius: 16px;
      border: 2px solid var(--primary-black, $tx-brown);
      box-sizing: border-box;
      padding: 10px 32px;
      align-items: center;
      background-color: transparent;
      span {
        padding-right: 5px;
      }
    }
    @include align-right();
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    #menu {
      background-color: $tx-brown;
      box-sizing: border-box;
      padding: 10px 32px;
      img,
      svg {
        height: 25px !important;
      }
      span {
        color: $bg-beige;
        padding-right: 5px;
      }
    }
  }
}
