@import "~bootstrap/scss/bootstrap";
@font-face {
  font-family: "Albert Sans";
  src: url("./../assets/fonts/AlbertSans-Regular.eot");
  src: url("./../assets/fonts/AlbertSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./../assets/fonts/AlbertSans-Regular.woff2") format("woff2"),
    url("./../assets/fonts/AlbertSans-Regular.woff") format("woff"),
    url("./../assets/fonts/AlbertSans-Regular.ttf") format("truetype"),
    url("./../assets/fonts/AlbertSans-Regular.svg#./../assets/font/AlbertSans-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$bg-beige: #fdf9ef;
$bg-beige-v2: #f6e7c3;
$bg-avocado: #d0e0af;
$tx-brown: #301b0a;

$ico-size: 48px;

body {
  margin: 0;
  background-color: $bg-beige;
  position: static;
}
// @import "../../node_modules/bootstrap/scss/grid";

@mixin border-style($border-bottom: false) {
  border-top: 2px solid $tx-brown;
  @if $border-bottom {
    border-bottom: 2px solid $tx-brown;
  }
}
@mixin border-bottom() {
  border-top: 2px solid $tx-brown;
}

@mixin input-animation() {
  width: 45px;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  transition: 0.3s linear;
  border-bottom: 0;
  background-color: transparent;
  z-index: 10000;

  &:focus {
    width: 120px;
    outline: none;
    border-bottom: 1px solid $tx-brown;
  }
  &::after {
    content: "Henry";
    display: block;
    width: 0;
    height: 2px;
    background: $tx-brown;
    transition: width 0.3s;
  }

  &:hover::after {
    width: 100%;
    //transition: width .3s;
  }
}

@mixin reset-list-style() {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  left: 0;
  right: 0;
}

@mixin label-base() {
  color: var(--primary-black, $tx-brown);
  font-weight: 500;
}

* {
  color: $tx-brown;
  @include label-base();
  box-sizing: border-box;
}

@mixin base-font() {
  font-family: Albert Sans;
  font-size: 16px;
  font-style: normal;
  line-height: 160%;
}

@mixin align-right() {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.wrapper {
  background-color: $bg-beige;
}

header {
  padding: 48px 0;
  .wrapper-search-menu-logging {
    > button,
    > form {
      margin-left: 10px;
    }
    input {
      @include input-animation();
      border: 0;
      .cool-link {
        display: inline-block;
        color: #000;
        text-decoration: none;
      }
    }
    button {
      border-radius: 16px;
      border: 2px solid var(--primary-black, $tx-brown);
      box-sizing: border-box;
      padding: 10px 32px;
      align-items: center;
      background-color: transparent;
      span {
        padding-right: 5px;
      }
    }
    @include align-right();
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    #menu {
      background-color: $tx-brown;
      box-sizing: border-box;
      padding: 10px 32px;
      img,
      svg {
        height: 25px !important;
      }
      span {
        color: $bg-beige;
        padding-right: 5px;
      }
    }
  }
}

#banner {
  position: relative;
  .slogan {
    width: 649.95px;
    height: 334px;
    position: absolute;
    background-color: $bg-beige;
    top: 260px;
    left: 156px;
    padding: 60px;
    box-sizing: border-box;
    h1 {
      font-size: 3rem;
      margin-bottom: 36px;
    }
    p {
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 500;
      line-height: 160%; /* 38.4px */
    }
    .list-links {
      width: 2202px;
      display: flex;
      flex-direction: row;
      position: absolute;
    }
    .wrapper-link-list {
      height: 1000px;
      display: box;
    }
    ul {
      @include reset-list-style(); // position: absolute;
      li {
        @include border-style();
        padding: 18px 16px;
      }
      li:nth-child(4) {
        @include border-style(true);
      }
    }
    ul:first-child {
      margin-right: 60px;
    }
  }
}

#numbers {
  margin-top: 500px;
}

#newsletter {
  .input-with-button {
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
  }
  .input-with-button .btn {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

#photo {
  .ico {
    width: $ico-size;
    height: auto;
  }
}

#call-to-action {
  .svg-button {
    border: none;
    background-color: $bg-beige; /* Change to your preferred background color */
    color: #fff; /* Change to your preferred text color */
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
  }

  .svg-button:hover {
    background-color: #0056b3; /* Change to your preferred hover background color */
  }

  .svg-icon {
    width: 24px; /* Adjust the size as needed */
    height: 24px; /* Adjust the size as needed */
    fill: currentColor; /* SVG icon color inherits from button's text color */
  }
}

#blog {
  ul {
    @include reset-list-style();
    li {
      &:not(:last-child) {
        /* Styles for list items except the last one */
        margin-right: 18px; /* For example, add margin between items */
      }
      &:not(:first-child) {
        /* Styles for list items except the last one */
        margin-left: 18px; /* For example, add margin between items */
      }
    }
  }
}
